img.bg {
    /* fill background */
    min-height: 100%;
    min-width: 700px;

    /* proportionate scaling */
    width: 100%;
    height: auto;

    /* positioning */
    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (max-width: 700px) {
    img.bg {
        left: 50%;
        margin-left: -350px; 
    }
}